:ruby
  add_breadcrumb t('view.admin.breadcrumbs.teams.index'), admin_teams_path
  add_breadcrumb t('view.admin.breadcrumbs.actions.new')
  content_for(:title, t('view.admin.page_title.teams.new'))

.admin-content
  .admin-content__title
    .admin-title
      .admin-title__image
        = image_tag 'icon-team.png', class: 'admin-title-image'
      .admin-title__text
        %h1.admin-title_text
          （ID未設定）

  .admin-content__fields
    = render 'form', team: @team, url: admin_teams_path,
                     cancel_path: admin_teams_path
