:ruby
  add_breadcrumb t('view.admin.breadcrumbs.game_field.index'), admin_game_fields_path
  add_breadcrumb @game_field.name, admin_game_field_path(@game_field)
  add_breadcrumb t('view.admin.breadcrumbs.actions.edit')

.admin-content
  .admin-content__title
    .admin-title
      .admin-title__image
        = image_tag 'icon-stadium.png', class: 'admin-title-image'
      .admin-title__text
        %h1.admin-title_text
          = @game_field.name

  .admin-content__fields
    = render 'form', game_field: @game_field, url: admin_game_field_path(@game_field),
                     cancel_path: admin_game_field_path(@game_field)
