:ruby
  add_breadcrumb t('view.admin.breadcrumbs.teams.index'), admin_teams_path
  add_breadcrumb @team.name, admin_team_path(@team)
  add_breadcrumb t('view.admin.breadcrumbs.teams.team_profiles.edit')
  content_for(:title, t('view.admin.page_title.teams.team_profiles.new', universal_id: @team.universal_id))

.admin-content
  .admin-content__title
    .admin-title
      .admin-title__image
        = image_tag 'icon-team.png', class: 'admin-title-image'
      .admin-title__text
        %h1.admin-title_text
          = @team.name

  .admin-content__fields
    = render 'form', team_profile: @team_profile, url: admin_team_team_profile_path(team_id: @team.id),
                     method: :post, cancel_path: admin_team_path(@team)
