.application {
  display: flex;
  min-height: 100vh;

  .application__sidebar {
    width: 240px;
  }

  .application__main {
    flex: 1;
  }
}

.application-main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .application-main__breadcrumbs, .application-main__content {
    padding: 8px 12px;
  }

  .application-main__breadcrumbs {
    border-bottom: 1px solid var(--default-border-color);
  }

  .application-main__content {
    flex: 1;
    overflow-y: auto;
  }
}
