.admin-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .admin-field__label, .admin-field__value {
    display: flex;
    align-items: center;
    height: min-content;
  }

  .admin-field__label {
    font-weight: bold;
  }
}
