.admin-list {
  display: table;
  width: 100%;

  .admin-list__header {
    border-bottom: 1px solid var(--default-border-color);
  }
}

.admin-list-header {
  display: table-header-group;
}

.admin-list-body {
  display: table-row-group;

  .admin-list-row {
    &:hover {
      background-color: var(--color-gray-900);
    }
  }
}

.admin-list-cell {
  display: table-cell;
  height: 3rem;
  vertical-align: middle;
  font-size: 0.875rem;
  color: var(--color-gray-300);

  &.is-header {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-gray-100);
  }

  & a {
    color: var(--color-gray-300);

    &:hover {
      text-decoration: underline;
    }
  }
}

.admin-list-cell-with-icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .admin-list-cell-with-icon__icon {
    width: 2rem;
    height: 2rem;
  }

  .admin-list-cell-with-icon__text {
    font-size: 0.875rem;
    color: var(--color-gray-300);
  }
}
