:ruby
  add_breadcrumb t('view.media.breadcrumbs.root'), root_path
  add_breadcrumb t('view.media.breadcrumbs.teams.index')

.media-list
  .media-list__title
    %h1.media-list-title
      チーム
  .media-list__content
