- if current_page.first?
  %span.admin-pagination-first.is-current
    = t('views.pagination.previous').html_safe
- else
  = link_to t('views.pagination.previous').html_safe, url, { remote:, class: 'admin-pagination-first' }
