.breadcrumbs {
  background-color: var(--color-purple-500);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 12px;

  .breadcrumbs__item {
    display: flex;
    align-items: center;

    &:last-child {
      font-weight: bold;
    }
  }
}

.breadcrumb, .breadcrumb-separator {
  font-size: 0.75rem;
  color: var(--color-white);
}

a.breadcrumb:hover {
  text-decoration: underline;
}
