.media-game-schedule-lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.media-game-schedule-list {
  width: 96vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    width: 56rem;
  }
}

.media-game-schedule-content {
  width: 100%;

  .media-game-schedule-content__header, .media-game-schedule-content__item {
    > * {
      padding: 0.75rem;
      white-space: nowrap;
    }
  }

  .media-game-schedule-content__header {
    border-bottom: 1px solid var(--default-border-color);

    * {
      font-weight: bold;
    }
  }

  .media-game-schedule-content__item {
    * {
      font-size: 0.875rem;

      &.is-centered {
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  *:has(> .media-game-schedule-content) {
    overflow-x: scroll;
    scrollbar-width: none;

    .media-game-schedule-content {
      width: 100%;
    }
  }
}
