.media-notice-list {
  width: 90vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2.0rem;

  @media (min-width: 768px) {
    width: 48rem;
  }
}

.media-notice-list-item {
  border: 1px solid var(--color-gray-500);
  border-radius: var(--button-border-radius);
  padding: 1.0rem 1.5rem;
  display: grid;
  gap: 1.0rem;

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-100);
  }
}

.media-notice-list-item-title {
  grid-column: 1 / 3;
  font-weight: bold;
  line-height: 1.8;

  @media (min-width: 768px) {
    grid-column: 1 / 2;
  }
}

.media-notice-list-item-date {
  grid-column: 1 / 2;
  width: max-content;
  color: var(--color-gray-700);
}

.media-notice-list-item-button {
  display: flex;
  justify-content: flex-end;

  @media (min-width: 768px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-content: flex-end;
    align-items: center;
  }
}
